<%- include('header'); %>
<script src="/js/script.js"></script>
<script src="/isotope.js"></script>

<h2>Adres:</h2>
<p class="contact">Grote Boerenstraat 28</p>
<p class="contact">Brussel 1000</p>

<h2>Je kan ons vinden op:</h2>
<p class="contact">Facebook</p>
<p class="contact">Instagram</p>

<h2>Mail:</h2>
<a href="mail">info@KUNST.be</a>


<p>Deze website is gemaakt door Tine Nuyts in opdracht van de AP Hogeschool voor het vak Crossmediatechnologie. </p>





<%- include('footer'); %>
