  <!DOCTYPE html>
    <html lang="nl" dir="ltr">
      <head>
        <title>CMT4_oefening_3</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0,user-scalable=no">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="https://use.typekit.net/flf7jwj.css">
      </head>
      <body>
        <script src="/js/script.js"></script>
        <script src="/isotope.js"></script>
        
        <h1>MUSEUM</h1>
        <img src="<%=logo%>" alt="" class="logo"> <br>

        <nav>
          <a href="/home">HOME</a>
          <a href="#">|</a>
          <a href="/galerij">GALERIJ</a>
          <a href="#">|</a>
          <a href="/contact">CONTACT</a>
        </nav>
