<%- include('header'); %>
<script src="/js/script.js"></script>
<script src="/isotope.js"></script>
<p>
    KUNST is een prachtig museum met schilderijen van de klassiekers in de schilderkunst.
    In de huidige tentoonstelling zie je de bekendste werken van Vincent Van Gogh, Claude Monet en René Magritte.
    Deze maand staat Claude Monet in de kijker.
    In de galerij kan u de belangrijkste werken zien die we tonen in de tentoonstelling.
</p>


<h2>In de kijker</h2>
<h3>Claude Monet</h3>
  <img src="<%=een%>" alt="" class="inkijker"> <br>
  <img src="<%=twee%>" alt="" class="inkijker" id="inkijker1"><br>
  <img src="<%=drie%>" alt="" class="inkijker"id="inkijker2">
